#canvasContainer{
	width: auto;
	height: 100%;
	flex-grow: 1;
	user-select: none;
	cursor: move;
}
#canvasWrapper{
	transform-origin: top left;
	position: absolute;
	perspective: 100px;
}
#canvas{
	perspective: 100px;
	/* transition: transform 100ms cubic-bezier(0.075, 0.82, 0.165, 1); */
}
#canvasContainer.resizing{
	cursor: none;
}