body{
	--lbw: 1px; /*label border width*/
	--cw: calc(var(--lbw) * 8); /*corner width*/
	--co: calc(var(--lbw) * -4); /*corner offset*/
}
#canvas.hl .box, .box.hl{
	display: none;
}
#canvas.hl .box.focus{
	display: initial;
}
.box{
	position: absolute;
	outline-width: var(--lbw);
	outline-color: red;
	outline-style: solid;
	cursor: grab;
	border-radius: 2px;
}
.box:hover{
	background-color: rgba(255,0,0,.5);
	z-index: 3;
}
.box.focus{
	background-color: rgba(0,255,0,.2);
	z-index: 2;
}
.box>.corner{
	width: var(--cw);
	height: var(--cw);
	min-width: 3px;
	min-height: 3px;
	position: absolute;
	background-color: red;
	border-radius: 50%;
	display: none;
}
.box.focus>.corner, .box:hover>.corner{
	display: initial;
}
.box>.corner:hover{
	transform: scale(1.5);
	
}
.box>.corner:nth-child(1){
	top: var(--co);
	left: var(--co);
	cursor: nw-resize;
}
.box>.corner:nth-child(2){
	top: var(--co);
	right: var(--co);
	cursor: ne-resize;

}
.box>.corner:nth-child(3){
	bottom: var(--co);
	right: var(--co);
	cursor: se-resize;

}
.box>.corner:nth-child(4){
	bottom: var(--co);
	left: var(--co);
	cursor: sw-resize;

}
.resizing .box>.corner{
	cursor: none !important;
}
